<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
             xmlns:rim="http://www.blackberry.com/ns/widgets"
             version="2.0.0.0" id="com.miguel.HelloWorld">
 
   <author href="http://www.example.com/"> Miguel Munevar</author>
 
   <name>Final Project</name>

   <feature id="blackberry.app">

</feature>
<feature id="blackberry.invoke.card"/>

<feature id="blackberry.app.event"/>
<feature id="blackberry.ui.contextmenu"/>

<feature id = "blackberry.pim.contacts" />

<feature id="blackberry.invoke" required="true" version="1.0.0.0"/>

<access uri="*" subdomains="true"/>
<feature id="blackberry.io" />
<rim:permissions>
	<rim:permit>access_pimdomain_contacts</rim:permit>
	<rim:permit> access_location_services</rim:permit>
	<rim:permit>use_camera</rim:permit> 
	<rim:permit>access_shared</rim:permit>
</rim:permissions>
 
   <description>
         Final Project Application 
   </description>
 
   <content src="index.html" />
 
</widget>


